pipeline/4_get_file_count_of_files_in_folder.json
{
	"name": "4_get_file_count_of_files_in_folder",
	"properties": {
		"activities": [
			{
				"name": "get_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_txt_input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "file_count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "plp_var_file_count",
					"value": {
						"value": "@length(activity('get_files').output.childItems)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "file_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('plp_var_file_count'),5)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"plp_var_file_count": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "testing_1"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-19T06:54:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}